</div> <!-- /.logo -->
</div> <!-- /.top-header -->
</header> <!-- /.site-header -->

<div class="content-wrapper">
<div class="inner-container container">
    <div class="row">
        <div class="section-header col-md-12">
            <!-- <h2>Our Blog</h2>
            <span>Subtitle Goes Here</span> -->
        </div> <!-- /.section-header -->
    </div> <!-- /.row -->
    <div class="row">
        <div class="blog-masonry masonry-true">
            <!-- <div class="post-masonry col-md-4 col-sm-6">
                <div class="blog-thumb">
                    <img src="images/blog/blog-2.jpg" alt="">
                    <div class="overlay-b">
                        <div class="overlay-inner">
                            <a href="images/blog/blog-2.jpg" class="fancybox fa fa-expand" title="Project Title Here"></a>
                        </div>
                    </div>
                </div>
                <div class="blog-body">
                    <div class="box-content">
                        <h3 class="post-title"><a href="blog-single.html">Brigette Brown on Umbrellas</a></h3>
                        <span class="blog-meta">8 November 2084 by Christina</span>
                        <p><a href="http://www.templatemo.com/preview/templatemo_423_artcore">Artcore</a> is free HTML5 template by <b class="blue">template</b><b class="green">mo</b>. There are total 12 HTML pages. Credit goes to <a rel="nofollow" href="http://unsplash.com">Unsplash</a> for images.</p>
                    </div>
                </div>
            </div> --> <!-- /.post-masonry --> 
        