</div> <!-- /.blog-masonry -->
</div> <!-- /.row -->
</div> <!-- /.inner-content -->
</div> <!-- /.content-wrapper -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha512-jGsMH83oKe9asCpkOVkBnUrDDTp8wl+adkB2D+//JtlxO4SrLoJdhbOysIFQJloQFD+C4Fl1rMsQZF76JjV0eQ==" crossorigin="anonymous"></script></script>
<script src="plugins.js"></script>
<script src="main.js"></script>

<!-- Preloader -->
<script type="text/javascript">
//<![CDATA[
$(window).load(function() { // makes sure the whole site is loaded
$('.loader-item').fadeOut(); // will first fade out the loading animation
    $('#pageloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
$('body').delay(350).css({'overflow-y':'visible'});
})
//]]>
</script>

</body>
</html>
